.image {
  background-color: #06050f;
  display: flex;
  width: 100%;
  justify-content: center;
}

.topmobile {
  display: none;

  @media (max-width: 560px) {
    display: flex;
  }
}

.topdesktop {
  display: flex;

  @media (max-width: 560px) {
    display: none;
  }
}

img {
  width: 100%;

  @media (min-width: 728px) {
    max-width: 530px;
  }
}

.grego {
  z-index: 999;
  padding: 0 50px;
  margin: 0;

  @media (min-width: 728px) {
    margin-top: -158px;
  }
}
