<div class="two-column-container">
  <div class="left-column"><a href="#">
    <h2>Carlos Inkt</h2></a>
    <p>Carlos InkT é um artista gráfico apaixonado por tatuagens e ilustrações que decidiu seguir sua paixão e fundar um estúdio de tatuagem e design, conhecido como InkT Studio. Sua missão era oferecer aos clientes uma experiência única, transformando suas ideias em tatuagens personalizadas e obras de arte marcantes.</p>
    <app-tag text="Consultoria Estratégica" background="#e74c3c"></app-tag>
    <app-tag text="Marketing Digital" background="#00CEBF"></app-tag>
    <app-tag text="Inovação Tecnológica" background="#FDCA0F"></app-tag>
    <app-tag text="Estratégias de Marca" background="#8241FF"></app-tag>
    <app-tag text="Tecnologia Avançada" background="#3498db"></app-tag>
    <app-tag text="Soluções Digitais" background="#9b59b6"></app-tag>
  </div>
  <div class="right-column">
    <div class="scrolling-text">
      <marquee behavior="scroll" direction="right">Case <span>Sucesso</span> Case <span>Sucesso</span> Case <span>Sucesso</span> Case <span>Sucesso</span></marquee>
    </div>
    <img src="assets/imgs/carlosinkt.gif" alt="Imagem" />
    <div class="scrolling-text">
      <marquee behavior="scroll" direction="left">Case <span>Sucesso</span> Case <span>Sucesso</span> Case <span>Sucesso</span> Case <span>Sucesso</span></marquee>
    </div>
  </div>
</div>
