<div class="container-all">
  <div class="container-title">
    <h2>Experiência e expertise:</h2>
    <h1>soluções personalizadas</h1>
  </div>
  <div class="container-tag">
    <div class="box-btn">
      <a class="botao-gradient">Webdesign</a>
    </div>
    <div class="box-btn">
      <a class="botao-gradient">Anúncios</a>
    </div>
    <div class="box-btn">
      <a class="botao-gradient">Marketing</a>
    </div>

    <div class="box-btn">
      <a class="botao-gradient">Copywriting</a>
    </div>
    <div class="box-btn">
      <a class="botao-gradient">SEO</a>
    </div>
    <div class="box-btn">
      <a class="botao-gradient">UI/UX</a>
    </div>
    <div class="box-btn">
      <a class="botao-gradient">ADS</a>
    </div>
    <div class="box-btn">
      <a class="botao-gradient">Design Thinking</a>
    </div>

    <div class="box-btn">
      <a class="botao-gradient">Curadoria</a>
    </div>
    <div class="box-btn">
      <a class="botao-gradient">Branding</a>
    </div>
  </div>

  <div class="container-button"></div>
</div>
