/* menu-popup.component.css */
:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e8fe74; /* Adapte a cor do fundo conforme necessário */
  display: flex;
  color: #000;
  z-index: 9999999;
}

.sidebar-popup{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar-popup > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.close-button {
  cursor: pointer;
  justify-content: flex-end !important;
  display: flex !important;
  z-index: 9999;
}

.options {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  color: #000;
  font-family: Aeonik-Regular;
  font-size: 43px;
  font-style: normal;
  font-weight: 500;
  line-height: 43px;
  margin-top: -50px;
}

.options ul {
  list-style: none;
  margin: 0;
  padding-left: 20px;

}

.options li {
  margin: 30px 0;
}

.options a {
  text-decoration: none;
  color: #000;
}

svg {
  width: 50px;
}
