.title {
  height: 179px;
  border: 1px solid #000;
  background: #8241ff;
  display: flex;
  align-items: flex-end;
  padding: 20px;
  color: #000;
  font-family: Aeonik-Thin;
  font-size: 36px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}
