<div class="container-title">
  <h2>Obtenha um site premium e</h2>
  <h1>aumente suas vendas</h1>
</div>

<app-header-animation-premium></app-header-animation-premium>
<div class="container-button">
  <p>Oferecemos um serviço de alta qualidade, não perca mais venda para seus concorrentes!</p>
  <a><button><svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M15.5 10.5L20.5 15.5L15.5 20.5" stroke="#06050F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M4.5 4.5V11.5C4.5 12.5609 4.92143 13.5783 5.67157 14.3284C6.42172 15.0786 7.43913 15.5 8.5 15.5H20.5" stroke="#06050F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>Agende uma reunião</button></a>
</div>
