.tag {
  display: inline-block;
  padding: 5px 10px;
  color: #000;
  border-radius: 100px;
  font-size: 14px;
  height: 30px;
  margin: 5px 5px 5px 0px;
  border: 1px solid #000;

  @media (max-width: 1080px) {
    height: 24px;
    padding: 2px 5px;
    margin: 2px 2px 2px 0px;
  }
}
