<div class="container-all">
  <div class="title">
    <h2>Conheça nossas</h2>
    <h1>soluções</h1>
  </div>
  <div class="servicos">
    <div class="box-btn">
      <a class="botao-gradient">
        <h1>Website</h1>
        <p>
          Ter um site é essencial para aumentar sua presença online e alcançar um público maior. </p>
<a href="https://api.whatsapp.com/send/?phone=5531991786094&text&type=phone_number&app_absent=0">
        <button>
          <svg
            width="25"
            height="25"
            viewBox="0 0 25 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15.5 10.5L20.5 15.5L15.5 20.5"
              stroke="#CDA5D5"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M4.5 4.5V11.5C4.5 12.5609 4.92143 13.5783 5.67157 14.3284C6.42172 15.0786 7.43913 15.5 8.5 15.5H20.5"
              stroke="#CDA5D5"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            /></svg>Agende uma reunião
        </button></a>
      </a>
    </div>
    <div class="box-btn">
      <a class="botao-gradient">
        <h1>Tráfego Pago</h1>
        <p>Investir em tráfego pago pode impulsionar rapidamente o crescimento do seu negócio, aumentando a visibilidade e a conversão de clientes em potencial.
        </p>
<a href="https://api.whatsapp.com/send/?phone=5531991786094&text&type=phone_number&app_absent=0">
        <button>
          <svg
            width="25"
            height="25"
            viewBox="0 0 25 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15.5 10.5L20.5 15.5L15.5 20.5"
              stroke="#CDA5D5"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M4.5 4.5V11.5C4.5 12.5609 4.92143 13.5783 5.67157 14.3284C6.42172 15.0786 7.43913 15.5 8.5 15.5H20.5"
              stroke="#CDA5D5"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            /></svg>Agende uma reunião
        </button></a>
      </a>
    </div>
    <div class="box-btn">
      <a class="botao-gradient">
        <h1>Consultoria</h1>
        <p>
          Contratar consultoria especializada é o caminho mais eficaz para obter orientação estratégica e alcançar resultados excepcionais em seu empreendimento.
        </p>
<a href="https://api.whatsapp.com/send/?phone=5531991786094&text&type=phone_number&app_absent=0">
        <button>
          <svg
            width="25"
            height="25"
            viewBox="0 0 25 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15.5 10.5L20.5 15.5L15.5 20.5"
              stroke="#CDA5D5"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M4.5 4.5V11.5C4.5 12.5609 4.92143 13.5783 5.67157 14.3284C6.42172 15.0786 7.43913 15.5 8.5 15.5H20.5"
              stroke="#CDA5D5"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            /></svg>Agende uma reunião
        </button></a>
      </a>
    </div>
    <div class="box-btn">
      <a class="botao-gradient">
        <h1>Comunicação</h1>
        <p>
          Uma comunicação eficaz é a chave para construir relacionamentos sólidos, transmitir sua mensagem com clareza e alcançar seus objetivos pessoais e profissionais.
        </p>
<a href="https://api.whatsapp.com/send/?phone=5531991786094&text&type=phone_number&app_absent=0">
        <button>
          <svg
            width="25"
            height="25"
            viewBox="0 0 25 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15.5 10.5L20.5 15.5L15.5 20.5"
              stroke="#CDA5D5"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M4.5 4.5V11.5C4.5 12.5609 4.92143 13.5783 5.67157 14.3284C6.42172 15.0786 7.43913 15.5 8.5 15.5H20.5"
              stroke="#CDA5D5"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            /></svg>Agende uma reunião
        </button></a>
      </a>
    </div>
  </div>
</div>
